@font-face {
    font-family: 'minecraft';
    src: url('../../../public/Minecraft.ttf') format('truetype');
}

.carta{
    width: 110px;
    height: 180px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto{
    color: aliceblue;
    font-size: xx-large;
    font-family: minecraft;
}